name: "Python Server"
description: "My first real python add-on!"
version: "1.1.1"
slug: "python_server"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ports:
  8000/tcp: 8000
ingress: true
ingress_port: 8080
panel_icon: mdi:proxy